*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(98, 74, 109);
}
.form{
    width: 30%;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
    background: white;  
    box-shadow: 10px 10px 5px #520b4d;

}
h1{
    color:black;
    text-align: center; 
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Bree Serif', serif; 
 }
 .box{
    padding-top: 10px;
    padding-left: 10px;
 }
 .box input{
    font-size: 20px;
    float: right;
    margin-right: 10px;
 }
 .box label{
    font-size: 25px;
 }
 .btn{
    color: red;
    text-align: center;
    padding-bottom: 15px;
}
.btn button{
    background: yellow;
    font-size: 15px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.3s ease-in;
}
.btn button:hover{
    background: red;
    transition: 0.3s ease-out;
    cursor: pointer;
}
